body{
    background:url(../img/bgHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.carrousel{
margin: 0;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

.swiper .swiper-slide {
background-position: center;
background-size: cover;
width: 350px;
height: 350px;
}

.footer {
    background-color: #fafafa10;
	backdrop-filter: blur(0.4rem);
	padding-bottom: 0px;
	color: wheat;
	padding: 80px 0;
	padding-bottom: 0px;
}

.container2 {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 10px 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    text-align: center;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	bottom: -10px;
    justify-self: center;
	background-color: #E91E63;
	width: 90px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links{
    display: flex;
    justify-content: space-evenly;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
